@charset "UTF-8";

body {
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Oculta las scrollbars */
}

/*Para que las dos columnas se queden con el mismo largo que las otras*/
.row {
    display: flex;
}

/*Estilo para la columna de los datos en las que se encuentra lo principal de la pantalla*/
.datos {
    padding-top: 4em;
    align-items: center;
    background-color: white;
    height: 100vh;
    overflow: hidden; /* Oculta las scrollbars */
}

.datos .titulo h1 {
    font-size: 6em;
    color: #143FD8;
}

.datos .formulario-login,
.datos .formulario-register {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12em;
}

.datos .formulario-login p,
.datos .formulario-register p {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

.datos .formulario-login .inputs,
.datos .formulario-register .inputs {
    margin: 2em;
}

.datos .formulario-login .inputs div,
.datos .formulario-register .inputs div {
    margin-top: 10px;
}

.datos .formulario-login .inputs input,
.datos .formulario-register .inputs input {
    font-size: 1.2em;
    width: 20em;
    height: 50px;
}

.datos button,
.datos .enlaces button {
    height: 4em;
    width: 10em;
    margin-bottom: 2em;
    font-size: 1.3em;
}

.datos .formulario-login .enlaces,
.datos .formulario-register .enlaces {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#CopyRight {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px; /* Ajusta el margen según sea necesario */
}

/* Media Queries para diferentes tamaños de pantalla */

/* Móvil medio: 375 x 667 px */
@media only screen and (min-width: 361px) and (max-width: 375px) {
    
    *{
        overflow-y: hidden;
    }

    .datos .titulo h1 {
        margin-top: 2em;
        font-size: 2em;
    }
    /*Estilo para los inputs*/
    .datos .formulario-login .inputs input{
        width: 10em;
        height: 3em;
        font-size: 0.8em;
    }
    /*Estilo para el texto en negro*/
    .datos .formulario-login p{
        font-size: 1.2em;
    }
    /* Estilo para dar margen al formulario por la parte de arriba */
    .datos .formulario-login,
    .datos .formulario-register {
        margin-top: 4em;
    }
    .datos button {
        height: 2.6em;
        width: 8em;
        font-size: 1.1em;
    }
    .datos .enlaces a {
        margin-left: 4em;
        height: 4em;
        width: 10em;
        font-size: 0.8em;
    }

    #CopyRight  {
        font-size: 0.8em;
    }
}

/* Smartphone grande: 720 x 1280 px */
@media only screen and (min-width: 376px) and (max-width: 720px) {
    .datos .titulo h1 {
        margin-top: 1em;
        font-size: 4em;
    }
    /*Estilo para los inputs*/
    .datos .formulario-login .inputs input{
        width: 12em;
        height: 2em;
    }
    /*Estilo para el texto en negro*/
    .datos .formulario-login p{
        font-size: 1.2em;
    }
    /* Estilo para dar margen al formulario por la parte de arriba */
    .datos .formulario-login,
    .datos .formulario-register {
        margin-top: 12em;
    }
    .datos button,
    .datos .enlaces button {
        height: 2.6em;
        width: 8em;
        font-size: 1.1em;
    }
}

/* Ordenador portátil medio: 1366 x 768 px */
@media only screen and (min-width: 721px) and (max-width: 1366px) {
    .datos .titulo h1 {
        font-size: 5em;
    }
    /*Estilo para los inputs*/
    .datos .formulario-login .inputs input{
        width: 15em;
    }
    /* Estilo para dar margen al formulario por la parte de arriba */
    .datos .formulario-login,
    .datos .formulario-register {

        margin-top: 12em;
    }
    .datos button,
    .datos .enlaces button {
        height: 3em;
        width: 8em;
        font-size: 1.3em;
    }
}

/* Ordenador de escritorio medio: 1440 x 900 px */
@media only screen and (min-width: 1367px) and (max-width: 1440px) {
    
    .datos .formulario-login,
    .datos .formulario-register {

        margin-top: 12em;
    }

}
