/*Estilos que se aplican al body completo de la aplicación*/
body{
    background-color: #F0F2F5 !important;
    overflow-x: hidden;
}

/*Estilos que se aplican a la barra de navegación*/
.actual{
    p{
        color: black;
        font-size: 3em;
        font-weight: bold;
        margin-left: 1.5em;
    }
}

/*Estilos que se aplican a la barra de navegación*/
.navBar{
    margin-left: 2em;
    border-radius: 20px;
    height: 100vh;
    background: linear-gradient(to bottom, #3888FF, #6D0BCE); /* Gradiente de color */
    color: #ffffff; /* Color de texto blanco para mejor contraste */
    padding-top: 4%;
    align-items: center;
    h1{
        font-size: 2.2em;
    }
    hr{
        height: 4px;
        width: 10em;
        background-color: white;
        opacity: 1;
    }
}

/*Estilo para la los enlaces de la barra de navegación*/
.navBar .enlaces{
    display: block;
    .lista {
        font-size: 1em;
        background-color: none;
        a {
            margin: 1em;
            text-decoration: none;
            font-weight: bold;
            color: white;
            transition: font-size 0.4s ease;
            &:hover{
                font-size: 110%; 
            }
        }
    }
}

/*Estilos para el dropdown de enlaces*/
.dropdown{
    padding-left: 90%;
    img {
       width: 50px !important;
    }
}

/* Media query para cuando ya solo queda la ultima columna */
@media (max-width: 576px) {
    
    .primerafila{
        .actual{
            font-size: 0.6em;
        }
    }
}

/* Media query para cuando ya solo queda la ultima columna */
@media (max-width: 1442px) {
    .navBar{
        margin-left: 1em;
        h1{
            font-size: 1.7em;
        }
        hr{
            width: 8em;
        }
        .enlaces{
            .lista{
                a{
                    font-size: 0.7em;
                    &:hover{
                        font-size: 80%; 
                    }
                }
                img{width: 20px;}
            }
        }
    }
}