@charset "UTF-8";
/*Importación del css que comparten varios HTML*/
@import url(./Menu_Header.css);

.contenedorMisReuniones{
        margin: 1%
}

@media (min-width:1199px){
    .contenedorMisReuniones{
        margin-left: 21% !important;
    }
}


/*Mediaquerys para la tabla y sus datos*/
@media (max-width:660px) {
    .seccionEditar{
        table{
            font-size: 0.8em;
            button{
                font-size: 0.8em;
            }
        }
    }
}