@charset "UTF-8";
/*Importación del css que comparten varios HTML*/
@import url(./Menu_Header.css);

.contendorEnlacesInternos{
    background-color: white;
    color: black;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    margin-left: 19% !important;
    h3{
        margin: 1em;
    }
    hr{
        height: 2px !important;
    }
    .enlacesInternos{
        display: flex;
        flex-direction: column;
        a{
            margin: 1.5em;
            color: black;
            font-weight: bold;
            text-decoration: none;
            transition: font-size 0.3s ease;
            &:hover{
                color: rgb(157, 157, 157);
                font-size: 110%;
            }
        }
    }
}

.contenedorTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 4rem;
    .title {
        p{
            color: #80849E;
            font-size: 15px;
        }
    }
}

.title {
    flex-grow: 1;
}

.dropdown{
    padding-left: 90%;
    img {
       width: 50px !important;
    }
}

.contenedorInformacion{
    padding: 3em;
    .fila {
        margin: 2em;
        .fechaTitulo{
            font-weight: bold;
            margin-bottom: 1em;
        }
        input{
            border: none;
            border-bottom: 2px solid black; 
            border-radius: 0;
            outline: none;
        }
        #inputGroupFile01{
            border: none;
            outline: auto;
        }
        select{
            border: none;
            border-bottom: 2px solid black; 
            border-radius: 0;
            outline: none;
        }
    }
}

.contenedorCambiarPass{
    padding: 3em;
    /*Div que contiene los inputs para poner las contraseñas*/
    .inputsContrasena{
        margin: 2em;
        input{
            width: 400px;
        }
    }
    p{
        color: #80849E;
    }
}

.contenedorBorrarCuenta{
    padding: 3em;
    p{
        color: #80849E;
    }
}

@media(min-width: 1199px) and (max-width: 1625px){

    .contendorEnlacesInternos{
        h3{
            font-size: 1.5em;
        }
        .enlacesInternos{
            a{
                font-size: 0.9em;
                &:hover{
                    color: rgb(157, 157, 157);
                    font-size: 94%;
                }
            }
        }
    }

}

@media(min-width: 1199px) and (max-width: 1474px){

    .contendorEnlacesInternos{
        h3{
            font-size: 1.4em;
        }
    }
    .contenedorTitle{
        .title {
            h2{
                font-size: 1.7em;
            }
        }
    }

}

@media(min-width: 1199px) and (max-width: 1376px){

    .contendorEnlacesInternos{
        min-height: 30vh;
        h3{
            font-size: 1.2em;
        }
        .enlacesInternos{
            a{
                font-size: 0.7em;
                &:hover{
                    color: rgb(157, 157, 157);
                    font-size: 75%;
                }
            }
        }
    }
    .contenedorTitle{
        .title {
            h2{
                font-size: 1.17em;
            }
        }
    }

}

/* Media query para pantallas tipo lg predefinido de bootstrap */
@media (min-width: 992px) and (max-width: 1199px) {
    .contendorEnlacesInternos{
        margin-left: 3% !important;
        h3{
            font-size: 1.5em;
        }
        .enlacesInternos{
            a{
                font-size: 0.9em;
                &:hover{
                    color: rgb(157, 157, 157);
                    font-size: 94%;
                }
            }
        }
    }
    .contenedorTitle{
        .title {
            h2{
                font-size: 1.2em;
            }
        }
    }
}

/* Media query para cuando ya solo queda la ultima columna */
@media (max-width: 808px) {
    .contenedorTitle{
        .avatar{
           img{
            width: 50px;
           }
        }
        .title {
            h2{
                font-size: 1em;
            }
            p{
                font-size: 0.8em;  
            }
        }
    }
    .contenedorCambiarPass{
        .inputsContrasena{
            margin: 2em;
            input{
                font-size: 0.7em;
                width: 220px;
            }
        }
        h3{
            font-size: 1.1em;
        }
        p{
            font-size: 0.9em;
            color: #80849E;
        }
    }
}