<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Reunión | MeetHub</title>
    <link rel="stylesheet" href="../static/css/crearReunion.css">
    <link rel="icon" type="image/x-icon" href="../static/img/webcam.png">
    <!-- Bibliotecas de recursos de bootrstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Script del poppermin.js para el dropdowm-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--Enlaces para añadir el switchButton-->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>
    <style>
        .switch.ios, .switch-on.ios, .switch-off.ios { border-radius: 20rem; }
        .switch.ios .switch-handle { border-radius: 20rem; }
    </style>
</head>
<body>
    <!-- 1 Fila -->
    <div class="row primerafila">
        <!--1 columna Nombre pagina-->
        <div class="col-3 actual col-sm-3">
            <p>Crear</p>
        </div>
        <!--2 columna Avatar y Opciones-->
        <div class="col-6 d-flex align-items-center flex-row col-sm-8 col-xl-9">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../static/img/Avatar.png" alt="Avatar de Perfil">
                </button>
                <!--Enlaces que se despliegan con el Dropdown-->
                <ul class="dropdown-menu">
                  <li class="d-xl-none"><a class="dropdown-item" href="#">Crear reunión</a></li>
                  <li class="d-xl-none"><a class="dropdown-item" href="#">Editar reunión</a></li>
                  <li class="d-xl-none"><a class="dropdown-item" href="#">Calendario</a></li>
                  <li><a class="dropdown-item" href="./perfil.html">Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./login.html">Cerrar Sesión</a></li>
                </ul>
              </div>
        </div>
    </div>
    <!-- 2 Fila -->
    <div class="row align-items-start gap-5">
         <!--1 columna Barra de Navegación-->
         <div class="col-2 navBar d-none d-xl-flex flex-column rounded-5 position-fixed">
            <h1>MH  MeetHub</h1>
            <hr>
            <!--Enlaces que para moverse por el resto de las páginas-->
            <div class="enlaces">
                <ul class="list-group list-group-flush lista">
                    <li class="list-group-item bg-transparent">
                        <img src="../static/img/Svg_Crear.png" alt="Svg_Crear">
                        <a href="./crearReunion.html">Crear Reunión</a>
                    </li>
                    <li class="list-group-item bg-transparent">
                        <img src="../static/img/Svg_Editar.png" alt="Svg_Editar">
                        <a href="#">Editar Reunión</a>
                    </li>
                    <li class="list-group-item bg-transparent">
                        <img src="../static/img/Svg_Calendario.png" alt="Svg_Calendario">
                        <a href="#">Calendario</a>
                    </li>
                </ul>
            </div>
         </div>
        <!--2 columna Contenido-->
        <div class="col-12 col-xl-9 contenedorCrearReunion">
            <!--Primer Section-->
            <section class="w-100 shadow px-5 rounded-5 sectionTitulo bg-white"> 
                    <h1 id="nombre">Crear Reunión</h1>
            </section>
            <!--Segundo section que contiene los datos de la primera reunión-->
            <section class="w-100 shadow px-5 rounded-5 seccionCrear bg-white my-4"> 
                    <!--Formulario que envía los datos de creación de reunión / Evento-->
                    <form action="" method="post">
                        <!--Primer fieldset el cual guarda los datos de la reunión-->
                        <fieldset class="datosReunion py-5">
                            <legend>Datos de la Reunión</legend>
                            <p class="intrucciones">(*) - Datos que son opcionales</p>
                            <div class="row my-sm-3 py-4">
                                <div class="col-sm-3 col-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="nombreReunion" name="nombreReunion" placeholder="nombre" required>
                                        <label for="nombreReunion">Nombre</label>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelect" aria-label="Select de Tipo reunión">
                                            <option value="0" selected>Virtual</option>
                                            <option value="1">Presencial</option>
                                        </select>
                                        <label for="floatingSelect">Modo (*)</label>
                                      </div>
                                </div>
                                <div class="col-sm-6 col-12 my-sm-0 my-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="descripcionReunion" name="descripcionReunion" placeholder="nombre" required>
                                        <label for="descripcionReunion">Motivo/Descripción (*)</label>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row my-sm-3 d-flex justify-content-center">
                                <div class="col-sm-3 col-10">
                                    <div class="form-floating">
                                        <input type="date" class="form-control" id="floatingDia" name="floatingDia" placeholder="Dia" required>
                                        <label for="floatingDia">Dia</label>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-5 my-sm-0 my-3">
                                    <div class="form-floating">
                                        <input type="time" class="form-control" id="floatingHoraE" name="floatingHoraE" placeholder="HoraEmpiece" required>
                                        <label for="floatingHoraE">Desde las</label>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-5 my-sm-0 my-3">
                                    <div class="form-floating">
                                        <input type="time" class="form-control" id="floatingHoraF" name="floatingHoraF" placeholder="HoraFinal" required>
                                        <label for="floatingHoraF">Hasta las</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!--Segundo select guarda los correos electrónicos de todos los integrantes-->
                        <fieldset class="participantesReunion">
                            <legend>Participantes de la reunión</legend>
                            <div class="row d-flex flex-row justify-content-center py-4">
                                <div class="col-sm-7 col-12">
                                    <div class="input-group">
                                        <input type="email" class="form-control" id="emailInput" placeholder="example@gmail.com" aria-label="example@gmail.com" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-primary" type="button" id="botonAnadirIntegrante">AÑADIR</button>
                                    </div>
                                    <div class="error-message" id="errorEmailVacio" style="display: none;">El email no puede estar vacío.</div>
                                    <div class="error-message" id="errorEmailFormato" style="display: none;">No es un formato de email válido.</div>
                                </div>
                            </div>
                            <div class="row d-flex flex-row justify-content-center py-2">
                                <div class="col-sm-6 mb-4 col-12">
                                    <div class="label-wrapper">
                                        <label for="integrantesList">Integrantes</label>
                                    </div>
                                    <ul class="list-group" id="integrantesList"></ul>
                                </div>
                            </div>
                            <div class="row d-flex flex-row justify-content-center mb-4 align-items-center gap-5">
                                <div class="col-2 justify-content-center d-flex">
                                    <button id="btnResetar" type="button" class="btn btn-danger" data-dismiss="modal">RESETEAR</button>
                                </div>
                                <div class="col-2 justify-content-center d-flex">
                                    <button id="btnCrear" type="button" class="btn btn-success">CREAR</button>
                                </div>
                            </div>
                        </fieldset>
                        <!--Script para añadir que se añadan los integrantes al textarea-->
                        <script src="../static/JS/crearReunion.js"></script>

                    </form>
            </section>
                
        </div>
    </div>
</body>
</html>