<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Reuniones | MeetHub</title>
    <link rel="stylesheet" href="/css/misReuniones.css">
    <link rel="icon" type="image/x-icon" href="/img/webcam.png">
    <!-- Bibliotecas de recursos de bootrstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Script del poppermin.js para el dropdowm-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- 1 Fila -->
    <div class="row primerafila">
        <!--1 columna Nombre pagina-->
        <div class="col-3 actual col-sm-3">
            <p>Reuniones</p>
        </div>
        <!--2 columna Avatar y Opciones-->
        <div class="col-6 d-flex align-items-center flex-row col-sm-8 col-xl-9">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="${usuario.avatar != null and usuario.avatar != '' ? usuario.avatar : 'https://ui-avatars.com/api/?name=' + usuario.nombre + '+' + usuario.apellidos}" style="border-radius: 50%;" alt="Avatar de Perfil">
                </button>
                <!--Enlaces que se despliegan con el Dropdown-->
                <ul class="dropdown-menu">
                  <li class="d-xl-none"><a class="dropdown-item" href="/crearReunion">Crear Reunión</a></li>
                  <li class="d-xl-none"><a class="dropdown-item" href="/misReuniones">Mis Reuniones</a></li>
                  <li class="d-xl-none"><a class="dropdown-item" href="/calendario">Calendario</a></li>
                  <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/">Cerrar Sesión</a></li>
                </ul>
              </div>
        </div>
    </div>
    <!-- 2 Fila -->
    <div class="row align-items-start gap-5">
         <!--1 columna Barra de Navegación-->
         <div class="col-2 navBar d-none d-xl-flex flex-column rounded-5 position-fixed">
            <h1>MH  MeetHub</h1>
            <hr>
            <!--Enlaces que para moverse por el resto de las páginas-->
            <div class="enlaces">
                <ul class="list-group list-group-flush lista">
                    <li class="list-group-item bg-transparent">
                        <img src="/img/Svg_Crear.png" alt="Svg_Crear">
                        <a href="/crearReunion">Crear Reunión</a>
                    </li>
                    <li class="list-group-item bg-transparent">
                        <img src="/img/Svg_Editar.png" alt="Svg_Editar">
                        <a href="#">Mis Reuniones</a>
                    </li>
                    <li class="list-group-item bg-transparent">
                        <img src="/img/Svg_Calendario.png" alt="Svg_Calendario">
                        <a href="/calendario">Calendario</a>
                    </li>
                </ul>
            </div>
         </div>
        <!--2 columna Contenido-->
        <div class="col-12 col-xl-9 contenedorMisReuniones">
            <!--Primer Section-->
            <section class="w-100 shadow px-5 rounded-5 sectionTitulo bg-white p-3"> 
                    <h1 id="nombre">Mis Reuniones</h1>
            </section>
            <!--Segundo section que contiene los datos de las reuniones creadas por el usuario-->
            <section class="w-100 shadow px-5 rounded-5 seccionEditar bg-white my-4 p-4 pt-5"> 
					<!--ALERT PARA LA ACTUALIZACION DE INFORMACION CON ÉXITO-->
					<div th:if="${mensaje}" class="alert alert-success alert-dismissible fade show" role="alert">
					    <strong>¡Éxito!</strong> [[${mensaje}]]
					    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					<!--TODOS LOS ALERTS POR LOS QUE PUEDE HABER UN ERROR EN LA MODIFICACION DE LA REUNIÓN-->
					<div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
					    <strong>ERROR</strong> <span th:text="${Error}"></span>
					    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					<div th:if="${errorFecha != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
					    <strong>Error en la fecha!</strong> <span th:text="${errorFecha}"></span>
					    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					<div th:if="${errorHora != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
					    <strong>Error en la hora!</strong> <span th:text="${errorHora}"></span>
					    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					<div th:if="${errorNombre != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
					    <strong>Error en el nombre!</strong> <span th:text="${errorNombre}"></span>
					    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					<div th:if="${errorParticipantes != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
					    <strong>Error en los participantes!</strong> <span th:text="${errorParticipantes}"></span>
					    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Fecha y hora</th>
                            <th scope="col">Enlace</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr th:each="reunion, iteracion : ${reuniones}" th:name="${iteracion.count}">
						    <th scope="row" th:text="${iteracion.count}"></th>
						    <td th:text="${reunion.nombre}"></td>
						    <td th:text="${#strings.length(reunion.descripcion) > 50 ? #strings.substring(reunion.descripcion, 0, 50) + '...' : reunion.descripcion}"></td>
						    <td th:text="${reunion.dateReunion + '-' + reunion.start + '-' + reunion.end}"></td>
						    <td><a th:href="${reunion.urlMeet}" th:text="${reunion.urlMeet != null ? 'Pulsa aquí' : 'No disponible'}" target="_blank"></a></td>
						    <td><button type="button" class="btn btn-primary editBtn" data-bs-toggle="modal" data-bs-target="#editModal" th:data-id="${reunion.id}">Editar</button></td>
							<td><input type="hidden" th:value="${reunion.id}" class="reunionId"/></td>
						    <td><input type="hidden" th:value="${reunion.invitados}" class="invitados"/></td>
						</tr>
                        </tbody>
                      </table>
                    <!-- Modal -->
                    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Editar Datos</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form th:action="@{/misReuniones/actualizar}" method="post" th:object="${reunion}">
							<input type="hidden" class="form-control" id="meetingId" name="id"/>
							<input type="hidden" class="form-control" id="meetingInvitados" name="invitados"/>
                            <div class="modal-body">
                                <div class="mb-3">
                                  <label for="meetingName" class="form-label">Nombre de la Reunión</label>
                                  <input name="nombre" type="text" class="form-control" id="meetingName">
                                </div>
                                <div class="mb-3">
                                  <label for="meetingDesc" class="form-label">Descripción</label>
                                  <input name="descripcion" type="text" class="form-control" id="meetingDesc">
                                </div>
                                <div class="mb-3">
                                    <label class="mb-2">Fecha y Hora</label>
                                    <div class="row">
                                        <div class="col">
	                                        <input name="dateReunion" type="date" class="form-control" id="meetingDate">
	                                    </div>
                                    </div>
                                    <div class="row my-3">
										 <div class="col">
	                                        <input name="start" type="time" class="form-control" id="meetingStart">
	                                    </div>
	                                    hasta
	                                    <div class="col">
	                                        <input name="end" type="time" class="form-control" id="meetingEnd">
	                                    </div>
									</div>
                                </div>
                                <div class="mb-3">
                                  <label for="meetingLink" class="form-label">Enlace</label>
                                  <input name="urlmeet" type="url" class="form-control" id="meetingLink" readonly>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                            </form>
                        </div>
                        </div>
                    </div>
            </section>
            <!--Script para realizar los seteos de valores en los campos del modal-->
            <script src="/JS/misReuniones.js"></script>
        </div>
    </div>
</body>
</html>