<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil | MeetHub</title>
    <link rel="stylesheet" href="../static/css/perfil.css">
    <link rel="icon" type="image/x-icon" href="../static/img/webcam.png">
    <!-- Bibliotecas de recursos de bootrstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Script del poppermin.js para el dropdowm-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- 1 Fila -->
    <div class="row primerafila">
        <!--1 columna Nombre pagina-->
        <div class="col-3 actual col-sm-3">
            <p>Perfil</p>
        </div>
        <!--2 columna Avatar y Opciones-->
        <div class="col-6 d-flex align-items-center flex-row col-sm-8 col-xl-9">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../static/img/Avatar.png" alt="Avatar de Perfil">
                </button>
                <ul class="dropdown-menu">
                  <li class="d-xl-none"><a class="dropdown-item" href="./crearReunion.html">Crear reunión</a></li>
                  <li class="d-xl-none"><a class="dropdown-item" href="./misReuniones.html">Mis Reuniones</a></li>
                  <li class="d-xl-none"><a class="dropdown-item" href="#./calendario.html">Calendario</a></li>
                  <li><a class="dropdown-item" href="./perfil.html">Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./login.html">Cerrar Sesión</a></li>
                </ul>
              </div>
        </div>
    </div>
    <!-- 2 Fila -->
    <div class="row align-items-start gap-5">
         <!--1 columna Barra de Navegación-->
         <div class="col-2 navBar d-none d-xl-flex flex-column rounded-5 position-fixed">
            <h1>MH  MeetHub</h1>
            <hr>
            <div class="enlaces">
                <ul class="list-group list-group-flush lista">
                    <li class="list-group-item bg-transparent">
                        <img src="../static/img/Svg_Crear.png" alt="Svg_Crear">
                        <a href="./crearReunion.html">Crear Reunión</a>
                    </li>
                    <li class="list-group-item bg-transparent">
                        <img src="../static/img/Svg_Editar.png" alt="Svg_Editar">
                        <a href="./misReuniones.html">Mis Reuniones</a>
                    </li>
                    <li class="list-group-item bg-transparent">
                        <img src="../static/img/Svg_Calendario.png" alt="Svg_Calendario">
                        <a href="./calendario.html">Calendario</a>
                    </li>
                </ul>
            </div>
         </div>
        <!--2 columna Contenido-->
        <div class="rounded-5 col-xl-2 col-lg-3 offset-2 shadow contendorEnlacesInternos d-none d-lg-block offset-lg-0">
            <h3>Enlaces internos</h3>
            <hr>
            <div class="enlacesInternos">
                <a href="#contenedorInformacion">INFORMACION BÁSICA</a>
                <a href="#contenedorCambiarPass">CAMBIAR CONTRASEÑA</a>
                <a href="#contenedorBorrarCuenta">BORRAR CUENTA</a>
            </div>
        </div>
        <!--3 columna Contenido-->
        <div class="col-12 col-xl-7 col-lg-8">
            <!--Primer Section-->
            <section class="shadow px-5 rounded-5 contenedorTitle bg-white w-100">
                <div class="avatar">
                    <img src="../static/img/Avatar.png" alt="Avatar de Perfil">
                </div>
                <div class="title">
                    <h2 id="nombre">Rubén Descalzo Rodríguez</h2>
                    <p>Usuario de google</p>
                </div>
            </section>
            <!--Segundo Section-->
            <section id="contenedorInformacion" class="w-100 shadow px-5 rounded-4 contenedorInformacion my-5 bg-white" >
                <h1>Informacion Básica</h1>
                <form action="" name="datosPersonales">
                    <!--Primera fila del formulario Información básica-->
                    <div class="row gap-5 fila">
                        <div class="col-md-5 d-flex flex-column col-sm-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="inputNombre" name="nombrePersona" placeholder="Nombre">  
                                <label for="floatingInputGrid">Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-column col-sm-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="inputApellidos" name="apellidoPersona" placeholder="Apellidos">
                                <label for="floatingInputGrid">Apellidos</label>
                            </div>
                        </div>
                    </div>
                    <!--Segunda fila del formulario información básica-->
                    <div class="row fila">
                        <div class="col-md-4 d-flex flex-column align-self-end col-sm-12">
                            <div class="form-floating">
                                <select class="form-select" id="sexoPersona" aria-label="Floating label select example">
                                    <option value="0">Abre el menú</option>
                                    <option value="hombre">Hombre</option>
                                    <option value="mujer">Mujer</option>
                                </select>
                                <label for="floatingSelectGrid">Sexo</label>
                            </div>
                        </div>
                        <div class="col-md-8 d-flex flex-column col-sm-12 my-sm-4 my-md-0 my-3">
                            <label class="fechaTitulo">Fecha Nacimiento</label>
                            <!--Fila nueva para poder mostrar el seleccionable de la fecha de nacimiento-->
                            <div class="row">
                                <div class="col-md-2 d-flex flex-column col-sm-3">
                                    <div class="form-floating">
                                        <select class="form-select" name="diaPersona" id="dia" aria-label="Floating label select example">
                                            <option value="0"></option>
                                        </select>
                                        <label for="floatingSelectGrid">Dia</label>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex flex-column col-sm-5">
                                    <div class="form-floating">
                                        <select class="form-select" name="mesPersona" id="mes" aria-label="Floating label select example">
                                            <option value="0"></option>
                                        </select>
                                        <label for="floatingSelectGrid">Mes</label>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex flex-column col-sm-4">
                                    <div class="form-floating">
                                        <select class="form-select" name="anyoPersona" id="anyo" aria-label="Floating label select example">
                                            <option value="0"></option>
                                        </select>
                                        <label for="floatingSelectGrid">Año</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!--Tercera fila del formulario Información básica-->
                    <div class="row gap-5 gap-sm-3 fila">
                        <div class="col-md-5 d-flex flex-column col-sm-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="correoPersona" placeholder="Email">  
                                <label for="floatingInputGrid">Email</label>
                            </div>
                        </div>
                        <div class="col-md-6 align-self-end d-flex flex-column align-items-end">
                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupFile01">Avatar</label>
                                <input type="file" class="form-control" id="inputGroupFile01">
                              </div>
                        </div>
                    </div>
                     <!--Tercera fila del formulario Información básica-->
                     <div class="row gap-5 gap-sm-3 fila">
                        <div class="col align-self-end d-flex flex-column align-items-center">
                            <button type="button" id="btnActualizar" class="btn btn-outline-success">ACTUALIZAR INFORMACION</button>
                        </div>
                    </div>
                </form>
            </section>
            <!--Tercer Section-->
            <section id="contenedorCambiarPass" class="w-100 shadow px-5 rounded-4 contenedorCambiarPass my-5 bg-white">
                <h1>Cambiar Contraseña</h1>
                <form action="#" method="post">
                    <div class="d-flex flex-column align-items-center inputsContrasena">
                        <div class="form-floating my-3">
                            <input type="password" class="form-control" id="passActual" placeholder="Password">
                            <label for="floatingPassword">Contraseña actual</label>
                          </div>
                          <div class="form-floating  my-3">
                            <input type="text" class="form-control" id="passNueva" placeholder="Password">
                            <label for="floatingPassword">Nueva contraseña</label>
                          </div>
                          <div class="form-floating  my-3">
                            <input type="password" class="form-control" id="passRepetida" placeholder="Password">
                            <label for="floatingPassword">Repite la nueva contraseña</label>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-auto">
                            <h3>Requerimientos de la Contraseña</h3>
                            <p>Sigue los pasos para una contraseña, fuerte</p>
                            <ul>
                                <li>Un carácter especial</li>
                                <li>Mínimo 6 carácteres</li>
                                <li>Un número (dos recomendado)</li>
                                <li>Cambiala a menudo</li>
                            </ul>
                        </div>
                        <div class="col-sm-7 align-self-end d-flex flex-column align-items-sm-end align-items-center">
                            <button type="button" id="btnActualizarPass" class="btn btn-outline-success">CAMBIAR CONTRASEÑA</button>
                        </div>
                    </div>
                    
                </form>
            </section>
             <!--Cuarto Section-->
             <section id="contenedorBorrarCuenta" class="w-100 shadow px-5 rounded-5 bg-white contenedorBorrarCuenta">
                <h2>Borrar Cuenta</h2>
                <div class="row my-4">
                    <div class="col-sm-5">
                        <p>Una vez que eliminas tu cuenta, no hay vuelta atrás.<br>
                            Por favor esté seguro de que quieres hacerlo</p>
                    </div>
                    <div class="col-7  d-flex flex-column align-items-end">
                        <button type="button" id="btnBorrarCuenta" class="btn btn-outline-danger"  data-toggle="modal" data-target="#exampleModal">BORRAR CUENTA</button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Borrar Cuenta</h5>
                            </div>
                            <div class="modal-body">
                                <p>Si estás seguro de borrar la cuenta pulsa en el Botón <b>ACEPTAR</b></p>
                            </div>
                            <div class="modal-footer">
                            <button id="btnCerrar" type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                            <button id="btnAceptar" type="button" class="btn btn-success">ACEPTAR</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!--Script para la apertura y cierra de modal-->
                    <script>
                        // Para abrir el modal en el botón de Borrar Cuenta
                        document.getElementById('btnBorrarCuenta').addEventListener('click', function() {
                            $('#exampleModal').modal('show');
                        });
                        // Para cerrar el modal en el botón de cerrar
                        document.getElementById('btnCerrar').addEventListener('click', function() {
                            $('#exampleModal').modal('hide');
                        });
                    </script>
                </div>
            </section>
        </div>
    </div>
    <!--Script para cargar los select-->
    <script src="../static/JS/cargaSelect.js"></script>
</body>
</html>